.header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  background-color: #fff;

    &__logo{
      width:10rem;
      transition: opacity 0.8s ease-in-out;
    }
    &__top{
      display: flex;
      border-bottom: 0.05rem solid #E9E9E9;
      padding-bottom: 1.44rem ;
      padding-top: 1.61rem;
      align-items: center;
      &_right{
        display: flex;
        align-items: center;
        position: relative;
        width: 10rem;
      }
    }

    &__search{
      background-image: url("../media/svg/lupa.png");
      box-sizing: border-box;
      background-size: cover;
      border: none;
      background-repeat: no-repeat ;
      height: 0.89rem;
      width:  0.89rem;
      background-color: #fff;
      cursor: pointer;
      margin-left: 0.5rem;
      position: absolute;
      right: 0;
    }

  &__text-field{
    font-size: 0.75rem;
    outline: none;
    color: #4b4b4b;
    border:none;
    border-bottom: 0.0625rem solid #7d7d7d;
    position: absolute;
    left: 0;
    width: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;

    &.active{
      width: 85%;
      visibility: visible;
    }
  }


    &__bottom {
      border-bottom: 0.05rem solid #E9E9E9;
      justify-content: center;
      height: 3.20rem;
      width: 100%;
      font-weight: 500;
    }

    &__select{
      cursor: pointer;
      box-sizing: border-box;

      &-header{
        display: flex;
        align-items: center;
      }
      &:hover{
        .header__select-body{
          opacity: 1;
          visibility: visible;
          height: max-content;
        }
      } 
      &-body{
        width: max-content;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        height: 0;
      }

      &-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E9E9E9;
        margin-bottom: 0.44rem;
        padding-bottom: 0.44rem;
        justify-content: space-between;
        font-size: 0.72rem;
        line-height: 0.72rem;
        font-weight: 400;

        &-text {
          transition: 0.5s ease-in-out;
        }
      }

      &-item:last-child{
        margin-bottom: 0;
      }

      &-item:hover{
        .header__select-item-text{
          opacity: 0.6;
          transform: translateX(0.44rem);
        }
      }

      &-item:last-child{
        border-bottom: none;
        padding-bottom: 0;
      }

      &-item::after{
        content: '';
        display: block;
        background-image: url("../media/svg/strelka.png");
        box-sizing: border-box;
        background-size: contain;
        width: 0.35rem;
        height: 0.185rem;
        background-repeat: no-repeat ;
        transform: rotate(270deg);
        margin-left: 3.33rem;
      }

      &-icon{
        margin-left: 0.28rem;

        &-img{
          transform: translate(0,-25%);
          width: 10px;
          height: 10px;
        }
      }
    }

    &__link{
      outline: none;
      text-decoration: none;
      color: #000;
      display: flex;
      align-items: center;
      transition: 0.5s ease-in-out;
      &:hover{
        opacity: 0.55;
      }
    }

    &__select:hover{
      .header__select-body{
        opacity: 1;
        visibility: visible;
        height: max-content;
      }
    }
  }

.header__logo.active{
  opacity: 0;
}

body.active{
  overflow: hidden;
}


@media only screen and (min-width: 320px) {
  .header{
    position: relative;
    &__search{
      transform: translateY(0);
    }

    &__bottom{
      display: none;
      &_mobile{
        font-weight: 500;
        margin-top: 1rem;
        box-sizing: border-box;
        padding: 0 1.7rem ;
      }
    }

    &__select{
      padding: 0.89rem 0;
      border-bottom: 0.05rem solid #E9E9E9;
      max-height:max-content;

      &-item:first-child {
        padding-top: 0.89rem;
      }
    }

    &__top{
      justify-content: space-between;
      padding-left:  1rem;
      padding-right: 1rem;

      &_right{
        display: none;
      }
    }

    &__burger{
      width: 1.27rem;
      position: relative;
      cursor: pointer;
      height:0.89rem;
      display: flex;
      align-items: center;

      &-menu,
      &-menu::after,
      &-menu::before{
        width: 100%;
        position: absolute;
        height: 0.18rem;
        background-color: black;
        transition: 0.3s ease-in-out;
        border-radius: 0.17rem;
      }

      &-menu::after,
      &-menu::before{
        content: "";
      }

      &-menu::after{
        top: 0.341rem;
      }

      &-menu::before{
        bottom: 0.341rem;
      }
    }

    &__link{
      margin-top: 0.89rem;
    }

    &__mobile{
      padding: 1.61rem 0 0 0;
      height: 100vh;
      width: 17.8rem;
      border-right: 0.05rem solid #E9E9E9;
      position: absolute;
      box-sizing: border-box;
      transition: 0.8s ease-in-out;
      left: -17.8rem;
      z-index: 100;
      background-color: #fff;

      &-top{

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 1.6rem 1.67rem;
        border-bottom: 0.05rem solid #E9E9E9;

        .header__logo{
          width: 8.9rem;
        }

      }

      &-cross::before,
      &-cross::after{
        height: 0.18rem;
        width: 100%;
        background-color: black;
        border-radius:0.17rem;
        position: absolute;
        content: "";
      }

      &-cross::before{
        transform: rotate(45deg);
      }

      &-cross::after{
        transform: rotate(-45deg);
      }
    }
    &__mobile.active{
      left: 0;
    }

    &__close-btn{
      position: relative;
      width: 1.61rem;
      margin-right: 1.76rem;
    }

  }
}

@media only screen and (min-width: 600px) {
  .header{
    &__top{
      padding-left:  0;
      padding-right: 0;
      justify-content: space-around;

      &_right{
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header{
    position: sticky;
    top: 0;
    transition: 0.5s ease-in-out;

    &__mobile{
        display: none;
    }
    &__burger{
      display: none;
    }

    &__top{
      justify-content: center;
      position: relative;
      &_right{
        position: absolute;
        right: 5rem;
      }
    }

    &__select{
      position: relative;
      height: inherit;
      max-height: none;
      display: flex;
      border-bottom: none;
      margin-right: 1.8rem;
      padding: 0;

      &-item:first-child{
        padding-top: 0;
      }

      &-body{
        position: absolute;
        border: 0.05rem solid #E9E9E9;
        border-top:none;
        padding: 1.1rem;
        margin-top: 3.2rem;
        height: max-content;
        box-sizing: border-box;
        background-color: #fff;
        top: 0;
      }
    }
    &__bottom{
      display: flex;
    }

    &__link{
      margin-top: 0
    }
  }
}