mixin topic-card(type, topic, image)
    .main__card
        .main__card-img
            img.main__card-picture(src=require(image) alt="Изображение")
        .main__card-type=type
        .main__card-topic=topic
        .main__card-user
            span.main__card-author Niek Bove
            span.main__card-date Arpil 8, 2018
            span.main__card-views 3K Views
        .main__card-description choto to napisanno

main
    .main
        +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/1.png")
        +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/2.png")
        +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/3.png")
        +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/4.png")
        +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/5.png")
        +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/6.png")
        +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/7.png")
        +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/8.png")
        +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/9.png")